body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
.holud-garo {
  color: orange;
}
h1 {
  font-size: 50px;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding-left: 10%;
  padding-top: 2%;
}
.half-width img {
  width: 70%;
  padding-left: 15%;
  padding-top: 3%;
}
.hire-button {
  text-decoration: none;
  background-image: linear-gradient(orangered, rgb(250, 143, 124));
  padding: 10px 40px;
  color: aliceblue;
  font-weight: bold;
  border-radius: 5px;
}
.top-banner {
  background-image: url(developer-portfolio-master/developer-portfolio-master/images/top-banner.png);
  background-repeat: no-repeat;
}
.second {
  padding-top: 100px;
  padding-right: 100px;
}
h2 {
  font-size: 40px;
}
.hire-two {
  text-decoration: none;
  background-image: linear-gradient(orangered, rgb(250, 143, 124));
  padding: 10px 40px;
  color: rgb(21, 23, 24);
  font-weight: bold;
  border-radius: 5px;
  color: aliceblue;
}
.dream-big {
  background-image: url(developer-portfolio-master/developer-portfolio-master/images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.secondimg {
  padding-top: 100px;
}
.experience-area {
  background-image: url(developer-portfolio-master/developer-portfolio-master/images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.box-shadow {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
}
#border-left {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: ;
}
#border-left1 {
  border-left: 7px solid;
  border-image: linear-gradient(rgb(219, 10, 10), rgb(243, 228, 13));
  border-image-slice: 1;
}
footer p{
  text-align: center;
}